@media(max-width: 576px) {
    .botpage #app>div.container-fluid>div.row {
        flex-direction: column;
    }
    .botpage #app>div.container-fluid>div.row>div {
        width: 100%;
        max-width: 100%;
    }
    .botpage #app>div.container-fluid>div.row>div>div.row {
        flex-direction: column;
    }
    .botpage #app>div.container-fluid>div.row>div>div.row>div {
        width: 100%;
        max-width: 100%;
    }
    .botpage .container-fluid>div:nth-child(1) {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .botpage .col-4 {
        padding-left: 0;
        padding-right: 0;
    }
    .botpage .col-8 {
        padding-left: 0;
        padding-right: 0;
    }
    .botpage .col-8>div:nth-child(1) {
        margin-left: 0;
        margin-right: 0;
    }
    .botpage div.col-6:nth-child(1) {
        padding-left: 0;
        padding-right: 0;
    }
    .botpage .card {
        /* word-wrap: break-word; */
        word-wrap: anywhere;
    }
    .botpage #repatriateNow>button {
        width: 100%!important;
    }
    .botpage form.mb-3:nth-child(2)>button {
        width: 100%!important;
    }
    .botpage button.btn:nth-child(3) {
        width: 100%!important;
    }
    .botpage div.col-6:nth-child(2) {
        padding-right: 0;
        padding-left: 0;
    }
    .botpage .col-8 {
        margin-top: 1rem;
    }
}