@media(max-width: 576px) {
    #defenderpage .row {
        flex-direction: column;
    }
    #defenderpage .row>div {
        width: 100%;
        max-width: 100%;
    }
    #defenderpage div.float-left:nth-child(1) {
        width: 100%;
        margin-top: 16px;
    }
    #defenderpage div.card:nth-child(2) {
        width: 100%!important;
    }
    #defenderpage .table-wrap {
        overflow-x: scroll;
    }
    #defenderpage div.float-left:nth-child(1) {
        width: 100%!important;
    }
    #defenderpage div.form-check:nth-child(14)>textarea:nth-child(3) {
        max-width: 100%!important;
    }
    #defenderpage div.card:nth-child(2) {
        width: 100%!important;
    }
    #defenderpage div.mb-2:nth-child(7)>select:nth-child(1) {
        max-width: 100%!important;
    }
    #defenderpage div.card:nth-child(3) {
        width: 100% !important;
    }
}